{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Picture from user{% endblock %}

{% block body %}
    <div class="container max-w-5xl mx-auto pt-16 md:pt-32 text-center break-normal">
        <!--Title-->
        <h1 class="text-white font-extrabold text-xl md:text-6xl w-full">
            🔭 Images from our users 🔭
        </h1>
    </div>
    <div class="container mx-auto px-0 py-2 lg:px-20 lg:pt-12">
        <div class="-m-1 flex items-center justify-around flex-wrap md:-m-2 h-screen">
            {% if images is empty %}
                <div>
                    <h2 class="text-white md:text-6xl w-full mb-2 mt-0 text-4xl font-medium leading-tight">
                        Sorry no image today
                    </h2>
                </div>
            {% endif %}
            {% for image in images %}

                    {{
                    component('Card:Image', {
                        cardImgSrc: asset('uploads/images/' ~ image.pictureFilename),
                        cardImgAlt: image.alt,
                        cardTitle: image.title,
                        image: image
                    })
                    }}

            {% endfor %}
        </div>
    </div>
    {% if app.user %}
        <div class="mb-12 pb-1 pt-1 text-center">
            {{ component('Button:Link', {
                href: path("app_picture_add"),
                buttonText: 'Add picture'
            }) }}
        </div>
    {% endif %}

{% endblock %}
