<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-full">
    {% if image_without_copyright is defined %}
        {% for image in image_without_copyright %}
            <div class="flex flex-col mb-5">
                <figure class="w-full p-1 md:p-2 flex flex-col">
                    <img
                        alt="{{ image.title }}"
                        class="block w-full rounded-lg object-cover object-center shadow-xl shadow-sky-200/50"
                        src="{{ image.url }}"/>
                    <figcaption class="text-white text-center w-full truncate mt-2">{{ image.title }}</figcaption>
                    <div class="text-center mt-2">
                        {{ component('Button:Link', {
                            href: path('app_carousel_show', {'date': image.date}),
                            buttonText: 'Show'
                        }) }}
                    </div>
                </figure>
            </div>
        {% endfor %}
    {% endif %}
</div>

