<h1>Une nouvelle image a été rajoutée</h1>

<p>
    Hello, veuillez vous rendre dans la partie administration du site pour valider l'image en cliquant sur le lien <a
            href="{{ url('admin') }}">Admin</a>
</p>
